# Data PreProcessing

### *Import Libraries

In [4]:
# define dataset
import pandas as pd

#missing values define
import numpy as np

#define data vizulisation
import matplotlib.pyplot as plt
import seaborn as sns

#define model building
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

### *Importing DATA

In [43]:
df = pd.read_csv('./Data/data.csv')

### *EDA

In [46]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,28,1,2,130,132,0,2,185,0,0.0,?,?,?,0
1,29,1,2,120,243,0,0,160,0,0.0,?,?,?,0
2,29,1,2,140,?,0,0,170,0,0.0,?,?,?,0
3,30,0,1,170,237,0,1,170,0,0.0,?,?,6,0
4,31,0,2,100,219,0,1,150,0,0.0,?,?,?,0

### *Handling Missing Values

In [49]:
# Replace "?" with np.nan
df.replace("?", np.nan, inplace=True)
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,28,1,2,130,132,0,2,185,0,0.0,NaN,NaN,NaN,0
1,29,1,2,120,243,0,0,160,0,0.0,NaN,NaN,NaN,0
2,29,1,2,140,NaN,0,0,170,0,0.0,NaN,NaN,NaN,0
3,30,0,1,170,237,0,1,170,0,0.0,NaN,NaN,6,0
4,31,0,2,100,219,0,1,150,0,0.0,NaN,NaN,NaN,0

### *Feature Engineering

In [52]:
# Separate target column before imputing
target_column = 'num       '
y = df[target_column]
X = df.drop(columns=[target_column])

In [54]:
df[target_column] =df[target_column].astype('object')

In [56]:
df.describe(include='object')

       trestbps chol  fbs restecg thalach exang slope ca thal  num
count       293  271  286     293     293   293   104  3   28         294
unique       31  153    2       3      71     2     3  1    3           2
top         120  246    0       0     150     0     2  0    7           0
freq         65    5  266     235      29   204    91  3   11         188

In [41]:
# Handle missing values
imputer = SimpleImputer(strategy='mean')
X_imputed = pd.DataFrame(imputer.fit_transform(X), columns=X.columns)
print(X_imputed)

      age  sex   cp  trestbps        chol  fbs  restecg  thalach  exang  \
0    28.0  1.0  2.0     130.0  132.000000  0.0      2.0    185.0    0.0
1    29.0  1.0  2.0     120.0  243.000000  0.0      0.0    160.0    0.0
2    29.0  1.0  2.0     140.0  250.848708  0.0      0.0    170.0    0.0
3    30.0  0.0  1.0     170.0  237.000000  0.0      1.0    170.0    0.0
4    31.0  0.0  2.0     100.0  219.000000  0.0      1.0    150.0    0.0
..    ...  ...  ...       ...         ...  ...      ...      ...    ...
289  52.0  1.0  4.0     160.0  331.000000  0.0      0.0     94.0    1.0
290  54.0  0.0  3.0     130.0  294.000000  0.0      1.0    100.0    1.0
291  56.0  1.0  4.0     155.0  342.000000  1.0      0.0    150.0    1.0
292  58.0  0.0  2.0     180.0  393.000000  0.0      0.0    110.0    1.0
293  65.0  1.0  4.0     130.0  275.000000  0.0      1.0    115.0    1.0

     oldpeak     slope   ca      thal
0        0.0  1.894231  0.0  5.642857
1        0.0  1.894231  0.0  5.642857
2        0.0  1.894231  0.0  5.642857
3        0.0  1.894231  0.0  6.000000
4        0.0  1.894231  0.0  5.642857
..       ...       ...  ...       ...
289      2.5  1.894231  0.0  5.642857
290      0.0  2.000000  0.0  5.642857
291      3.0  2.000000  0.0  5.642857
292      1.0  2.000000  0.0  7.000000
293      1.0  2.000000  0.0  5.642857

[294 rows x 13 columns]

In [16]:
# Normalize/scale the features
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X_imputed)
print(X_scaled)

[[-2.54234669e+00  6.16669839e-01 -1.02025916e+00 ... -1.10662769e-15
   0.00000000e+00 -1.81467745e-15]
 [-2.41411716e+00  6.16669839e-01 -1.02025916e+00 ... -1.10662769e-15
   0.00000000e+00 -1.81467745e-15]
 [-2.41411716e+00  6.16669839e-01 -1.02025916e+00 ... -1.10662769e-15
   0.00000000e+00 -1.81467745e-15]
 ...
 [ 1.04808013e+00  6.16669839e-01  1.05556224e+00 ...  5.27133545e-01
   0.00000000e+00 -1.81467745e-15]
 [ 1.30453919e+00 -1.62161328e+00 -1.02025916e+00 ...  5.27133545e-01
   0.00000000e+00  2.77283988e+00]
 [ 2.20214590e+00  6.16669839e-01  1.05556224e+00 ...  5.27133545e-01
   0.00000000e+00 -1.81467745e-15]]

### *Handling Outliers

In [19]:
# # Box plot
# sns.boxplot(data=X_imputed)
# plt.show()

In [22]:
# Handling Outliers

# # Calculate Q1 (25th percentile) and Q3 (75th percentile)
# Q1 = X_imputed[['age',	'sex', 'cp', 'trestbps', 'chol', 'fbs',	'restecg', 'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal']].quantile(0.25)
# Q3 = X_imputed[['age',	'sex', 'cp', 'trestbps', 'chol', 'fbs',	'restecg', 'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal']].quantile(0.75)
# IQR = Q3 - Q1

# # Determine outlier bounds
# lower_bound = Q1 - 1.5 * IQR
# upper_bound = Q3 + 1.5 * IQR

# # Identify outliers
# outliers = ((X_imputed[['age',	'sex', 'cp', 'trestbps', 'chol', 'fbs',	'restecg', 'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal']] < lower_bound) |
#             (X_imputed[['age',	'sex', 'cp', 'trestbps', 'chol', 'fbs',	'restecg', 'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal']] > upper_bound)).any(axis=1)

# # Remove outliers
# df_cleaned = X_imputed[~outliers]

# # Output the cleaned DataFrame
# print("Original DataFrame shape:", df.shape)
# print("Cleaned DataFrame shape:", df_cleaned.shape)
# print(df_cleaned)

### *Data Vizulisation

In [25]:
# # Box plot
# sns.boxplot(data=df_cleaned)
# plt.show()

# Model building

### *Train Test Split

In [30]:
x_train,x_test,y_train,y_test=train_test_split(X_scaled,y,test_size=0.2,random_state=42)

In [32]:
x_train.shape

(235, 13)

### *Model Initialization

In [35]:
model=KNeighborsClassifier(n_neighbors=3)

### *Model Training

In [38]:
model.fit(x_train,y_train)

KNeighborsClassifier(n_neighbors=3)

### *Hyper Parameter tuning

# evaluation & Result:

In [42]:
# Predict and evaluate the model
y_pred = model.predict(x_test)
accuracy = accuracy_score(y_test, y_pred)
conf_matrix = confusion_matrix(y_test, y_pred)
class_report = classification_report(y_test, y_pred)

print(f"Accuracy: {accuracy}")
print("Confusion Matrix:")
print(conf_matrix)
print("Classification Report:")
print(class_report)

Accuracy: 0.847457627118644
Confusion Matrix:
[[34  4]
 [ 5 16]]
Classification Report:
              precision    recall  f1-score   support

           0       0.87      0.89      0.88        38
           1       0.80      0.76      0.78        21

    accuracy                           0.85        59
   macro avg       0.84      0.83      0.83        59
weighted avg       0.85      0.85      0.85        59